@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        max-width:100%;  
    }
    body{
        overflow-x: hidden;
        background-color: var(--main-bg-color);
    }
    :root {
        --main-color: rgb(46, 49, 142);
        --main-bg-color: rgb(255, 255, 255);
        --main-font-family: 'Open Sans', sans-serif;
    }
    section{
        height: 100vh;
        width: 100vw;
        max-height: 100%;
        max-width: 100%;
    }

    .italic{
        font-style: italic;
    }
    .line-height{
        line-height: 120%;
    }

    /* ----------------- HEADER ------------------*/
    
    section#header{
        z-index: 0;
        position: relative;
    }
    #myVideo {
        z-index: -10;
        position: absolute;
        right: 0;
        top: 0;
        filter: brightness(50%);
      }
    #MenuIcon, #MenuIconClose{
        border: none;
        background: transparent;
    }

    #MenuIcon i{ 
        display: none;
        color: white;
        font-size: 60px;
    }

    #MenuIconClose i{
        display: none;
        color: black;
        font-size: 60px;
    }

    #nav-logo img{
        display: flex;
        float: left;
        margin: 3% 5%;
        height: 125px;
        width: auto;
    }
    #nav li{
        position: relative;
        list-style: none;
        display: flex;
        float: right;
        margin: 4% 2%;
    }
    #nav li a{
        color: white;
        font-family: var(--main-font-family);
        font-size: 22px;
        text-decoration: none;
    }
    section#header #titel{
        z-index: -1;
        height: 100%;
        width: 100%;
        position: absolute;
        right: 0;
        top: 0;
    }
    #titel div{
        position: relative;
        top: 350px;
        text-align: center;
        font-family: var(--main-font-family);
        color: white;
    }
    #titel .t1{
        font-size: 150px;
    }
    #titel .t2{
        font-size: 50px;
    }

    /* ----------------- ABOUT US ------------------*/

    #aboutus{

    }
    #aboutus-text{
        width: 100vw;
    }
    #aboutus-text p{
        position: relative;
        top: 200px;
        text-align: center;
        color: black;
        font-family: var(--main-font-family);
    }
    .p1{
        font-size: 70px;
        font-weight: 600;
    }
    .p2{
        font-size: 30px;
        font-weight: 600;
    }
    #ospan{
        color: var(--main-color);
    }
    #box-container{
        position: relative;
        top: 250px;
        height: 100px;
        display: grid;
        grid-template-columns: auto auto auto auto;
        justify-content: space-evenly;
    }
    .box{
        background-color: var(--main-color);
        box-shadow: 5px 10px 50px black;
        height: 300px;
        width: 350px;
    }
    .box p{
        font-family: var(--main-font-family);
        color: white;
    }
    .box-header{
        text-align: center;
        line-height: 35px;
        font-size: 30px;
        font-weight: 600;
        padding: 15px 0;
    }
    .box-text{
        margin: 0 20px;
        font-size: 20px;
        font-weight: 600;
    }

    /* ----------------- TEAM ------------------*/

    #team-banner{
        position: relative;
        top: 100px;
        width: 100vw;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    h1{
        color: black;
        font-family: var(--main-font-family);
        font-size: 100px;
        font-weight: 400;
    }
    #team-box-container{
        margin: 200px 0;
        height: 100vh;
        width: 100vw;
        display: grid;
        grid-template-columns: auto;
        position: relative;
    }
    .team-overlay{
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        position: absolute;
        display: grid;
        grid-template-columns: auto;
    }
    .team-overlay-member{
        height: 300px;
        width: 100vw;
        position: relative;
    }
    .member{
        width: fit-content;
        height: max-content;
        display: flex;
        background-color: var(--main-color);
        padding: 0px 0 -10px;
    }
    .m1{
        margin: 0 50px;
        justify-self: start;
    }
    .m2{
        margin: 0 50px;
        justify-self: end;
    }
    .team-box-text-field{
        padding: 35px 0;
        float: right;
        width: max-content;
        z-index: 1;
    }
    .member-img{
        padding: 0px 0 -10px 0;
        z-index: 1;
        height: min-content;
    }
    .member-img img{
        width: 200px;
        height: auto;
    }
    .balken{
        width: 100vw;
        top: 80px;
        left: 0;
        position: absolute;
    }

    .team-header{
        font-family: var(--main-font-family);
        font-size: 50px;
        font-weight: 600;
        text-align: start;
        margin: 0px 38px;
        line-height: 35px;
        color: white;
    }
    .team-subtitle{
        margin: 0 38px;
        font-family: var(--main-font-family);
        font-size: 24px;
        color: white;
    }
    .team-box-field li{
        list-style-position: outside;
    }
    .team-text{
        font-family: var(--main-font-family);
        font-size: 25px;
        margin: 0 65px;
        line-height: 40px;
        color: white;
    }
    
    /* ----------------- CONTACT ------------------*/

    #contact{
        margin: 500px 0;
        max-height: 200px;
    }
    h2{
        color: black;
        font-family: var(--main-font-family);
        font-size: 80px;
        margin: 0 100px;
        font-weight: 600;
    }
    #button-contact{
        margin: 20px 100px;
        background-color: var(--main-color);
        border: 20px solid var(--main-color);
        font-size: 30px;
        font-family: var(--main-font-family);
        font-weight: 600;
        border-radius: 6px;
        cursor: pointer;
        color: white;
    }
    
    /* ----------------- FOOTER ------------------*/
    footer{
        background-image: url(Bilder/footer-blue.svg);
        max-height: 170px;
        width: auto;
    }
    footer ul{
        padding: 45px 20px;
    }
    #footer-ul{
        display: grid;
        grid-template-columns: 200px 200px;
    }
    #footer-ul li{
        list-style: none;
    }
    #footer-ul li a{
        text-decoration: none;
        color: white;
        font-family: var(--main-font-family);
        font-size: 20px;
        font-weight: 600;
    }

    #social-media{
        width: 100vw;
        margin: 50px -50px;
        position: absolute;
        display: flex;
        justify-content: end;
    }
    #social-media img{
        height: 80px;
    }

    /* ------------------ REVEAL -----------------------------*/

    .reveal{
        position: relative;
        transform: translateY(150px);
        opacity: 0;
        transition: all 1s ease;
    }

    .reveal.active{
        transform: translateY(0px);
        opacity: 1;
    }




    @media screen and (min-width: 300px) and (max-width: 359px) {
        #MenuIcon{
            z-index: -1;
            margin: 6px -20px;
            left: 0;
            width: 100vw;
            position: absolute;
            display: inline-flex;
            justify-content: end;
        }
        #MenuIconClose{
            z-index: -2;
            margin: 20px -50px;
            left: 0;
            width: 100vw;
            position: absolute;
            opacity: 0;
            display: inline-flex;
            justify-content: end;
            transition: all .25s;
        }
        #MenuIconClose i{
            display: block;
        }

        #MenuIcon i{
            font-size: 30px;
            display: block;
        }

        #titel div{
            top: 60px;
        }

        #nav-logo img {
            margin: 3% 5%;
            height: 30px;
        }

        #nav{
            margin: 0 100vw;
            background-color: var(--main-bg-color);
            width: 100vw;
            position: absolute;
            display: none;
            transition: all .5s;
        }

        #nav li{
            display: block;
            float: none;
        }

        #nav li a{
            display: block;
        }

        #titel .t1 {
            font-size: 45px;
        }
        #titel .t2 {
            font-size: 13px;
        }
       
        #aboutus{
            position: relative;
            top: -700px;
        }

        #aboutus-text p{
            top: 100px;
        }

        .p1{
            font-size: 18px;
            font-weight: 600;
        }
        .p2{
            font-size: 14px;
            font-weight: 600;
        }

        #team{
            position: relative;
            top: 00px;
        }

        #team-banner{
            height: 100px;
        }

        h1{
            font-size: 40px;
        }
        
        #box-container{
            top: 150px;
            display: grid;
            grid-template-columns: auto;
            justify-content: center;
            gap: 5px;
        }

        .box{
            height: 280px;
            width: 280px;
        }
        .box-header{
            font-size: 24px
        }
        .box-text{
            font-size: 16px;
        }

        .team-overlay{
            display: none;
        }

        .team-box-text-field{
            padding: 0 0;
        }

        .m1, .m2{
            margin: 0;
        }
        .member{
            width: 100vw;
            max-height: 100%;
        }
        #team-box-container{
            position: relative;
            top: 0px;
        }

        .team-header {
            font-size: 24px;
            margin: 0px 4px;
        }

        .team-subtitle {
            margin: 0 5px;
            font-size: 18px;
        }
        .team-text {
            font-size: 14px;
            margin: 0 25px;
            line-height: 25px;
        }

        #balken1{
            display: none;
        }
        #balken2{
            display: none;
        }

        #contact{
            position: relative;
            top: 250px;
            margin: 0 0 200px;
        }

        h2{
            margin: 0 40px;
            font-size: 26px;
        }
        
        #button-contact{
            margin: 20px 40px;
            border: 10px solid var(--main-color);
            font-size: 20px;
            font-weight: 600;
            border-radius: 6px;
        }
        footer{
            position: relative;
            top: 200px;
            background-color: var(--main-color);
        }
        #social-media{
            width: 100vw;
            margin: 30px -50px;
            position: absolute;
            display: grid;
            grid-template-columns: auto auto;
            justify-content: end;
        }
        footer ul {
            padding: 5px 20px;
        }
        #footer-ul {
            display: grid;
            grid-template-columns: 125px;
            text-align: center;
        }
        #footer-ul li a {
            font-size: 17px;
        }

        #social-media img{
            height: 50px;
        }
    }


   
   
   
   
   
   
   
   
   
   
   
   
    @media screen and (min-width: 360px) and (max-width: 450px) {
        #MenuIcon{
            z-index: 1;
            margin: 10px -30px;
            left: 0;
            width: 100vw;
            position: absolute;
            display: inline-flex;
            justify-content: end;
        }
        #MenuIconClose{
            z-index: -2;
            margin: 20px -50px;
            left: 0;
            width: 100vw;
            position: absolute;
            opacity: 0;
            display: inline-flex;
            justify-content: end;
            transition: all .25s;
        }
        #MenuIconClose i{
            display: block;
        }

        #MenuIcon i{
            display: block;
            font-size: 35px;
        }

        #nav-logo img {
            margin: 3% 5%;
            height: 30px;

        }

        #nav{
            margin: 0 100vw;
            background-color: var(--main-bg-color);
            width: 100vw;
            position: absolute;
            display: none;
            transition: all .5s;
        }

        #titel div{
            top: 65px;
        }

        #nav li{
            display: block;
            float: none;
        }

        #nav li a{
            display: block;
        }

        #titel .t1 {
            font-size: 50px;
        }
        #titel .t2 {
            font-size: 15px;
        }

        #aboutus{
            position: relative;
            top: -700px;
        }

        #aboutus-text p{
            top: 100px;
        }

        .p1{
            font-size: 28px;
            font-weight: 600;
        }
        .p2{
            font-size: 17px;
            font-weight: 600;
        }

        #team{
            position: relative;
            top: 00px;
        }

        #team-banner{
            height: 100px;
        }

        h1{
            font-size: 40px;
        }
        
        #box-container{
            top: 150px;
            display: grid;
            grid-template-columns: auto;
            justify-content: center;
            gap: 5px;
        }

        .box{
            height: 280px;
            width: 300px;
        }
        .box-header{
            font-size: 24px
        }
        .box-text{
            font-size: 16px;
        }

        .team-overlay{
            display: none;
        }

        .team-box-text-field{
            padding: 0 20px;
        }

        .m1, .m2{
            margin: 0;
        }
        .member{
            width: 100vw;
            max-height: 100%;
        }
        #team-box-container{
            position: relative;
            top: 0px;
        }

        .team-header {
            font-size: 28px;
            margin: 0px 4px;
        }

        .team-subtitle {
            margin: 0 5px;
            font-size: 18px;
        }
        .team-text {
            font-size: 16px;
            margin: 0 25px;
            line-height: 25px;
        }

        #balken1{
            display: none;
        }
        #balken2{
            display: none;
        }

        #contact{
            position: relative;
            top: 250px;
            margin: 0 0 200px;
        }

        h2{
            margin: 0 40px;
            font-size: 26px;
        }
        
        #button-contact{
            margin: 20px 40px;
            border: 10px solid var(--main-color);
            font-size: 20px;
            font-weight: 600;
            border-radius: 6px;
        }
        footer{
            position: relative;
            top: 200px;
            background-color: var(--main-color);
        }
        #social-media{
            width: 100vw;
            margin: 30px -50px;
            position: absolute;
            display: grid;
            grid-template-columns: auto auto;
            justify-content: end;
        }
        footer ul {
            padding: 5px 20px;
        }
        #footer-ul {
            display: grid;
            grid-template-columns: 125px;
            text-align: center;
        }
        #footer-ul li a {
            font-size: 17px;
        }

        #social-media img{
            height: 50px;
        }
    }















    



















    @media screen and (min-width: 451px) and (max-width: 630px) {
  
        #MenuIcon{
            z-index: -1;
            margin: 10px -25px;
            left: 0;
            width: 100vw;
            position: absolute;
            display: inline-flex;
            justify-content: end;
        }
        #MenuIconClose{
            z-index: -2;
            margin: 20px -50px;
            left: 0;
            width: 100vw;
            position: absolute;
            opacity: 0;
            display: inline-flex;
            justify-content: end;
            transition: all .25s;
        }
        #MenuIconClose i{
            font-size: 20px;
            display: block;
        }

        #MenuIcon i{
            font-size: 40px;
            display: block;
        }

        #nav-logo img {
            margin: 3% 5%;
            height: 35px;
        }

        #titel div{
            top: 90px;
        }

        #nav{
            margin: 0 100vw;
            background-color: var(--main-bg-color);
            width: 100vw;
            position: absolute;
            display: none;
            transition: all .5s;
        }

        #nav li{
            display: block;
            float: none;
        }

        #nav li a{
            display: block;
        }

        #titel .t1 {
            font-size: 70px;
        }
        #titel .t2 {
            font-size: 25px;
        }

        #aboutus{
            position: relative;
            top: -600px;
        }

        #aboutus-text p{
            top: 100px;
        }

        .p1{
            font-size: 28px;
            font-weight: 600;
        }
        .p2{
            font-size: 17px;
            font-weight: 600;
        }

        #team{
            position: relative;
            top: 50px;
        }

        #team-banner{
            height: 100px;
        }

        h1{
            font-size: 40px;
        }
        
        #box-container{
            top: 150px;
            display: grid;
            grid-template-columns: auto;
            justify-content: center;
            gap: 5px;
        }

        .box{
            height: 280px;
            width: 300px;
        }
        .box-header{
            font-size: 24px
        }
        .box-text{
            font-size: 16px;
        }

        .team-overlay{
            display: none;
        }

        .team-box-text-field{
            padding: 10px 20px;
        }

        .m1, .m2{
            margin: 0;
            justify-self: center;
        }
        .member{
            max-height: 100%;
        }
        #team-box-container{
            position: relative;
            top: 0px;
        }

        .team-header {
            font-size: 30px;
            margin: 0px 4px;
        }

        .team-subtitle {
            margin: 0 5px;
            font-size: 22px;
        }
        .team-text {
            font-size: 20px;
            margin: 0 25px;
            line-height: 25px;
        }

        #balken1{
            display: none;
        }
        #balken2{
            display: none;
        }

        #contact{
            position: relative;
            top: 300px;
            margin: 0 0 200px;
        }

        h2{
            margin: 0 40px;
            font-size: 26px;
        }
        
        #button-contact{
            margin: 20px 40px;
            border: 10px solid var(--main-color);
            font-size: 20px;
            font-weight: 600;
            border-radius: 6px;
        }
        footer{
            position: relative;
            top: 150px;
            background-color: var(--main-color);
        }
        #social-media{
            width: 100vw;
            margin: 30px -50px;
            position: absolute;
            display: grid;
            grid-template-columns: auto auto;
            justify-content: end;
        }
        footer ul {
            padding: 5px 20px;
        }
        #footer-ul {
            display: grid;
            grid-template-columns: 125px;
            text-align: center;
        }
        #footer-ul li a {
            font-size: 17px;
        }

        #social-media img{
            height: 50px;
        }
    }



















    @media screen and (min-width: 630px) and (max-width: 768px) {
        #MenuIcon{
            z-index: -1;
            margin: 20px -40px;
            left: 0;
            width: 100vw;
            position: absolute;
            display: inline-flex;
            justify-content: end;
        }
        #MenuIconClose{
            z-index: -2;
            margin: 20px -50px;
            left: 0;
            width: 100vw;
            position: absolute;
            opacity: 0;
            display: inline-flex;
            justify-content: end;
            transition: all .25s;
        }

        #titel div{
            top: 100px;
        }

        #nav-logo img {
            margin: 3% 5%;
            height: 70px;
        }

        #MenuIconClose i{
            display: block;
        }

        #MenuIcon i{
            display: block;
        }

        #nav{
            margin: 0 100vw;
            background-color: var(--main-bg-color);
            width: 100vw;
            position: absolute;
            display: none;
            transition: all .5s;
        }

        #nav li{
            display: block;
            float: none;
        }

        #nav li a{
            display: block;
        }


        #titel .t1 {
            font-size: 90px;
        }
        #titel .t2 {
            font-size: 30px;
        }  

        #aboutus{
            position: relative;
            top: -500px;
        }

        #aboutus-text p{
            top: 100px;
        }

        .p1{
            font-size: 34px;
            font-weight: 600;
        }
        .p2{
            font-size: 17px;
            font-weight: 600;
        }

        #team{
            position: relative;
            top: -400px;
        }

        #team-banner{
            height: 100px;
        }

        h1{
            font-size: 40px;
        }
        
        #box-container{
            top: 150px;
            display: grid;
            grid-template-columns: auto auto;
            justify-content: center;
            gap: 5px;
        }

        .box{
            height: 280px;
            width: 300px;
        }
        .box-header{
            font-size: 24px
        }
        .box-text{
            font-size: 16px;
        }

        .team-overlay{
            display: none;
        }

        .team-box-text-field{
            padding: 10px 20px;
        }

        .m1, .m2{
            margin: 0;
            justify-self: center;
        }
        .member{
            max-height: 100%;
        }
        #team-box-container{
            position: relative;
            top: 0px;
        }

        .team-header {
            font-size: 30px;
            margin: 0px 4px;
        }

        .team-subtitle {
            margin: 0 5px;
            font-size: 22px;
        }
        .team-text {
            font-size: 20px;
            margin: 0 25px;
            line-height: 25px;
        }

        #balken1{
            display: none;
        }
        #balken2{
            display: none;
        }

        #contact{
            position: relative;
            top: -50px;
            margin: 0 0 200px;
        }

        h2{
            margin: 0 40px;
            font-size: 26px;
        }
        
        #button-contact{
            margin: 20px 40px;
            border: 10px solid var(--main-color);
            font-size: 20px;
            font-weight: 600;
            border-radius: 6px;
        }
        footer{
            position: relative;
            top: 0px;
            background-color: var(--main-color);
        }
        #social-media{
            width: 100vw;
            margin: 30px -50px;
            position: absolute;
            display: grid;
            grid-template-columns: auto auto;
            justify-content: end;
        }
        footer ul {
            padding: 5px 20px;
        }
        #footer-ul {
            display: grid;
            grid-template-columns: 125px;
            text-align: center;
        }
        #footer-ul li a {
            font-size: 17px;
        }

        #social-media img{
            height: 50px;
        }
    }













    @media screen and (min-width: 769px) and (max-width: 950px) {
  
        #MenuIcon i{
            display: none;
        }

        #titel div{
            top: 150px;
        }

        #titel .t1 {
            font-size: 90px;
        }
        #titel .t2 {
            font-size: 30px;
        }

        #nav-logo img {
            margin: 3% 5%;
            height: 75px;
        }

        #nav li{
            margin: 6% 3%;
        }

        #nav li a {
            font-size: 15px;
        }

        #aboutus{
            position: relative;
            top: -400px;
        }

        #aboutus-text p{
            top: 100px;
        }

        .p1{
            font-size: 34px;
            font-weight: 600;
        }
        .p2{
            font-size: 17px;
            font-weight: 600;
        }

        #team{
            position: relative;
            top: -350px;
        }

        #team-banner{
            height: 100px;
        }

        h1{
            font-size: 40px;
        }
        
        #box-container{
            top: 150px;
            display: grid;
            grid-template-columns: auto auto;
            justify-content: center;
            gap: 5px;
        }

        .box{
            height: 280px;
            width: 300px;
        }
        .box-header{
            font-size: 24px
        }
        .box-text{
            font-size: 16px;
        }

        .team-overlay{
            display: none;
        }

        .team-box-text-field{
            padding: 10px 20px;
        }

        .m1, .m2{
            margin: 0;
            justify-self: center;
        }
        .member{
            max-height: 100%;
        }
        #team-box-container{
            position: relative;
            top: 0px;
        }

        .team-header {
            font-size: 30px;
            margin: 0px 4px;
        }

        .team-subtitle {
            margin: 0 5px;
            font-size: 22px;
        }
        .team-text {
            font-size: 20px;
            margin: 0 25px;
            line-height: 25px;
        }

        #balken1{
            display: none;
        }
        #balken2{
            display: none;
        }

        #contact{
            position: relative;
            top: 00px;
            margin: 0 0 200px;
            display: flex;
            justify-content: center;
        }

        h2{
            margin: 0 40px;
            font-size: 30px;
            text-align: center;
        }
        
        #button-contact{
            margin: 100px 40px;
            border: 10px solid var(--main-color);
            font-size: 20px;
            font-weight: 600;
            border-radius: 6px;
            position: absolute;
        }
        footer{
            position: relative;
            top: 0px;
            height: 150px;
            background-color: var(--main-color);
        }
        #social-media{
            width: 100vw;
            margin: 30px -50px;
            position: absolute;
            display: grid;
            grid-template-columns: auto auto;
            justify-content: end;
        }
        footer ul {
            padding: 35px 35px;
        }
        #footer-ul li a {
            font-size: 20px;
        }

        #social-media img{
            height: 50px;
        }

        
    }




    @media screen and (min-width: 951px) and (max-width: 1280px) {
        #titel div{
            top: 175px;
        }

        #titel .t1 {
            font-size: 120px;
        }
        #titel .t2 {
            font-size: 40px;
        }

        #nav-logo img {
            margin: 3% 5%;
            height: 75px;
        }

        #nav li{
            margin: 6% 3%;
        }

        #nav li a {
            font-size: 20px;
        }

        #aboutus{
            position: relative;
            top: -200px;
        }

        #aboutus-text p{
            top: 100px;
        }

        .p1{
            font-size: 34px;
            font-weight: 600;
        }
        .p2{
            font-size: 17px;
            font-weight: 600;
        }

        #team{
            position: relative;
            top: -250px;
        }

        #team-banner{
            height: 100px;
        }

        h1{
            font-size: 40px;
        }
        
        #box-container{
            top: 150px;
            display: grid;
            grid-template-columns: auto auto;
            justify-content: center;
            gap: 5px;
        }

        .box{
            height: 280px;
            width: 300px;
        }
        .box-header{
            font-size: 24px
        }
        .box-text{
            font-size: 16px;
        }

        .team-overlay{
            display: none;
        }

        .team-box-text-field{
            padding: 10px 20px;
        }

        .m1, .m2{
            margin: 0;
            justify-self: center;
        }
        .member{
            max-height: 100%;
        }
        #team-box-container{
            position: relative;
            top: 0px;
        }

        .team-header {
            font-size: 30px;
            margin: 0px 4px;
        }

        .team-subtitle {
            margin: 0 5px;
            font-size: 22px;
        }
        .team-text {
            font-size: 20px;
            margin: 0 25px;
            line-height: 25px;
        }

        #balken1{
            display: none;
        }
        #balken2{
            display: none;
        }

        #contact{
            position: relative;
            top: 50px;
            margin: 0 0 200px;
            display: flex;
            justify-content: center;
        }

        h2{
            margin: 0 40px;
            font-size: 50px;
            text-align: center;
        }
        
        #button-contact{
            margin: 150px 40px;
            border: 10px solid var(--main-color);
            font-size: 20px;
            font-weight: 600;
            border-radius: 6px;
            position: absolute;
        }
        footer{
            position: relative;
            top: 00px;
            height: 150px;
            background-color: var(--main-color);
        }
        #social-media{
            width: 100vw;
            margin: 30px -50px;
            position: absolute;
            display: grid;
            grid-template-columns: auto auto;
            justify-content: end;
        }
        footer ul {
            padding: 35px 35px;
        }
        #footer-ul li a {
            font-size: 20px;
        }

        #social-media img{
            height: 50px;
        }
    }


    @media screen and (min-width: 1281px) and (max-width: 1450px) {

        #titel div{
            top: 300px;
        }
  
        #MenuIcon i{
            display: none;
        }

        #titel .t1 {
            font-size: 120px;
        }
        #titel .t2 {
            font-size: 32px;
        }

        #aboutus{
            position: relative;
            top: -200px;
        }

        #aboutus-text p{
            top: 100px;
        }

        .p1{
            font-size: 48px;
            font-weight: 600;
        }
        .p2{
            font-size: 22px;
            font-weight: 600;
        }


        .box{
            height: 280px;
            width: 300px;
        }
        .box-header{
            font-size: 24px
        }
        .box-text{
            font-size: 16px;
        }

        #team{
            position: relative;
            top: -200px;
        }
        
        #contact{
            position: relative;
            height: 200px;
            top: 200px;
            margin: 0;
        }


        
        h2{
            margin: 0 40px;
            font-size: 60px;
        }
        
        #button-contact{
            margin: 20px 40px;
            border: 10px solid var(--main-color);
            font-size: 40px;
            font-weight: 600;
            border-radius: 6px;
            position: absolute;
        }
        footer{
            position: relative;
            top: 500px;
            background-color: var(--main-color);
        }
        
    }